In [7]:
import math
import pandas as pd
import quandl

In [2]:
# Download Google (GOOGL) stock prices as a dataset
df = quandl.get('WIKI/GOOGL')

In [3]:
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0

In [5]:
# Obtaining new calculated data
df['HL_PCT'] = (df['Adj. High'] - df['Adj. Close']) / df['Adj. Close'] * 100.0
df['PCT_change'] = (df['Adj. Close'] - df['Adj. Open']) / df['Adj. Open'] * 100.0
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,HL_PCT,PCT_change
Date,,,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0,3.712563,0.324968
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0,0.710922,7.227007
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0,3.729433,-1.227880
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0,6.417469,-5.726357
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0,1.886792,1.183658

In [6]:
# Let's clean a little bit the data leaving behind unnecesary 'features' of the actual dataset in df
df = df[['Adj. Close', 'HL_PCT', 'PCT_change', 'Adj. Volume']]
df.head()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume
Date
2004-08-19   50.322842  3.712563    0.324968   44659000.0
2004-08-20   54.322689  0.710922    7.227007   22834300.0
2004-08-23   54.869377  3.729433   -1.227880   18256100.0
2004-08-24   52.597363  6.417469   -5.726357   15247300.0
2004-08-25   53.164113  1.886792    1.183658    9188600.0

In [14]:
forecast_col = 'Adj. Close'
df.fillna(-99999, inplace=True)
forecast_out = int(math.ceil(0.01 * len(df)))
df['label'] = df[forecast_col].shift(-forecast_out)

In [15]:
df.dropna(inplace=True)
df.head()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume      label
Date
2004-08-19   50.322842  3.712563    0.324968   44659000.0  66.495265
2004-08-20   54.322689  0.710922    7.227007   22834300.0  67.739104
2004-08-23   54.869377  3.729433   -1.227880   18256100.0  69.399229
2004-08-24   52.597363  6.417469   -5.726357   15247300.0  68.752232
2004-08-25   53.164113  1.886792    1.183658    9188600.0  69.639972

In [16]:
df.tail()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume   label
Date
2016-01-14      731.39  1.162171    0.959362    2777868.0  717.22
2016-01-15      710.49  1.923743    0.070424    3833751.0  742.17
2016-01-19      719.08  0.871947   -0.148580    2436220.0  739.48
2016-01-20      718.56  1.167613    1.793455    4122010.0  731.59
2016-01-21      726.67  1.513755    0.902565    2596916.0  730.22